*{
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 610px;
  height: 329px;
  border-radius: 30px;
  background-color:#DBDBDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.box img {
  width: 219px;
  height: 219px;
  margin-top: -50px;
  margin-left: 25%;
}
.desc-profesi{
  width: 475px;
  height: 56px;
  border-radius: 20px;
  background-color: #FEEEE2;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}
.desc-text{
  text-align: center;

}
.btn-grp{
  margin-left: 69px;
  margin-top: 29px;
  display: flex;
}
.btn-false{
  width: 157px;
  height: 41px;
  border-radius: 12px;
  margin-left: 12.5px ;
  background-color: #E12E2E;
  color: #FFFFFF;
  border: none;
}
.btn-true{
  width: 157px;
  height: 41px;
  border-radius: 12px;
  margin-right: 12.5px;
  background-color: #6FD240;
  color: #000000 ;
  border: none;
}

.btn-false:hover{
  background-color: #721818;
}
.btn-true:hover{
  background-color: #325f1d;
}
